* {
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-image: url(../img/natural-default-pattern.png);
  font-family: verdana;
}
.container {
  margin: auto;
  width:70%;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

header {
  width: 100%;
  height: 250px;
  background-image: url(../img/natural-default-header.jpg);
  background-size: cover;
  border: 5px solid white;
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: relative;
}

h1 {
  border: 5px solid white;
  font-size: 35px;
  width: 250px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav {
  width: 100%;
  height: 50px;
  background-color: grey;
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  font-weight: bold;
  padding: 0 5px;
}

nav li a {
  text-decoration: none;
  color: white;
  height: 100%;
  display: inline-block;
}

aside ul li {
  list-style: none;
  padding: 7px;
  font-family: arial;
  font-weight: bold;
}

aside li a {
  text-decoration: none;
  color: green;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.box {
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

aside {
  width: 20%;
}

main {
  width: 50%;
  margin: 50px;
  background-color: pink;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 30px;
  padding: 18px;
}

main h2 {
  padding: 18px;
  color: grey;
}

aside h2 {
  padding: 18px;
  color: grey;
}

#titol_feed {
  padding: 1px;
  display: inline-block;
}

a .fas {
  padding: 5px;
  color: orange;
  float: left;
  font-size: 30px;
}

h4 {
  font-family: arial;
  font-style: italic;
  color: lightgrey;
  margin-top: 5px;
  font-size: 15px;
  border-bottom: 1px solid grey;
}

footer .fab {
  font-size: 40px;
  color: grey;
  width: 30%;
  padding-top: 20px;
}
