* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/natural-default-pattern.png);
}

.container {
  margin: auto;
  width:70%;
}

.float-left {
  float: left;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

.titol_aside {
  content: "";
  display: table;
  clear: both;
}


header {
  width: 100%;
  height: 300px;
  background-color: brown;
  margin-top: 20px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #504741;
}

.box {
  background-color: white;
  height: 200px;
  margin-top: 10px;
}

aside {
  width: 20%;
}

.central {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}
